.main{
    max-width: 560px;
    margin: 0 auto;
    padding: 160px 32px;
    position: relative;
}

.content{
    max-width: 560px;
    margin: 0 auto;
    position: relative;
}

.main2{
    max-width: 1024px;
    margin: 0 auto;
    padding: 160px 32px;
    position: relative;
}

.image{
    width: 100%;
    height: auto;
    margin-top: 16px;
    margin-bottom: 32px;
    border-radius: 12px;
}

.section{
    margin-top: 56px;
    margin-bottom: 56px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 2;
    column-gap: 16px;
}

.project{
    padding-right: 40px;
    transition: all .2s ease-out;
}

.project:hover{
    transform: scale(0.98);
}


.projectTitle{
    color: black;
    font-size: 24px;
    font-weight: 563;
    line-height: 24px;
    letter-spacing: -0.4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.projectTitleHover{
    color: #363636;
    font-size: 24px;
    font-weight: 563;
    line-height: 24px;
    letter-spacing: -0.4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.projectImage{
    width: 120px;
    height: auto;
    margin-top: 0px;
    border-radius: 12px;
    margin-bottom: 8px;
}

.projectImageHover{
    width: 120px;
    height: auto;
    margin-top: 0px;
    border-radius: 12px;
    opacity: 0.98;
    margin-bottom: 8px;
}

.icon{
    width: 14px;
    height: 14px;
}

.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    color: #363636;
}

.backLink{
    display: flex;
    text-decoration: none;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 48px;
}

.contentSection{
    padding-top: 80px
}

.shotGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 2;
    column-gap: 24px;
    row-gap: 24px;
}

.gridImage{
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.profileImage{
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

.label1{
    font-size: 16px;
    color: #1b1b1b;
    letter-spacing: -0.1px;
    font-weight: 500;
    padding-bottom: 0px;
    padding-top: 0px
}

.label2{
    font-size:14px;
    color: #363636;
    letter-spacing: 0px;
    font-weight: 500;
    padding-bottom: 0px;
    padding-top: 0px
}

.text1{
    font-size:16px;
    letter-spacing: 0px;
    font-weight: 400;
    padding-bottom: 0px;
    padding-top: 0px
}

.text2{
    font-size:14px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 416;
    padding-bottom: 0px;
    padding-top: 4px
}

.text3{
    font-size:12px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 400;
    padding-bottom: 0px;
    padding-top: 0px
}

.sectionTitle{
    color: #1A1A1A;
    font-size:14px;
    letter-spacing: 0px;
    font-weight: 472;
    padding-bottom: 0px;
    padding-top: 0px
}