.main{
    max-width: 720px;
    margin: 0 auto;
    padding: 120px 32px;
    position: relative;
}

.image{
    width: 100%;
    height: auto;
    margin-top: 16px;
    margin-bottom: 32px;
    border-radius: 12px;
}

.section{
    margin-bottom: 80px;
}

.projects{
    margin-top: 160px
}

.project{
    margin-bottom: 80px;
    transition: all .2s ease-out;
}

.project:hover{
    transform: scale(0.98);
}


.projectTitle{
    color: black;
    font-size: 24px;
    font-weight: 563;
    line-height: 24px;
    letter-spacing: -0.4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.projectTitleHover{
    color: #363636;
    font-size: 24px;
    font-weight: 563;
    line-height: 24px;
    letter-spacing: -0.4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.projectImage{
    width: 100%;
    height: auto;
    margin-top: 0px;
    border-radius: 12px;
}

.projectImageHover{
    width: 100%;
    height: auto;
    margin-top: 0px;
    border-radius: 12px;
    opacity: 0.98;
}

.label2{
    font-size:14px;
    color: #363636;
    letter-spacing: -0.2px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 4px
}

.icon{
    width: 14px;
    height: 14px;
}

.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    color: #363636;
}

.backLink{
    display: flex;
    text-decoration: none;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 48px;
}