.links {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  row-gap: 24px;
  column-gap: 24px;
  margin-top: 16px;
  width: 100%;
}

.link {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 16px;
  height: 72px;
}

.linkHover {
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 16px;
  height: 72px;
}

.linkPreview {
  width: 100px;
  height: 100px;
}

.linkContent {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: start;
  padding: 0px;
  row-gap: 16px;
  min-height: 280px;
}
