.project{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    position: relative;
    border-radius: 16px;
    transition: all .2s ease-out;
    -webkit-box-shadow: 0px 4px 12px -2px rgba(28,28,28,0.08);
-moz-box-shadow: 0px 4px 12px -2px rgba(28,28,28,0.08);
box-shadow: 0px 4px 12px -2px rgba(28,28,28,0.08);
}

.projectContent{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 8px;
    column-gap: 16px;
    min-height: 280px;
}

.projectLink{
    width: 100%;    
    padding-left: 16px;
    padding-bottom: 16px;
}

.projectHover{
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    position: relative;
    border-radius: 16px;
    transition: all .2s ease-out;
    -webkit-box-shadow: 0px 4px 12px -2px rgba(28,28,28,0.16);
    -moz-box-shadow: 0px 4px 12px -2px rgba(28,28,28,0.16);
    box-shadow: 0px 4px 12px -2px rgba(28,28,28,0.16);
}

.projectTitle{
    color: black;
    font-size: 24px;
    font-weight: 563;
    line-height: 24px;
    letter-spacing: -0.4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.projectTitleHover{
    color: #363636;
    font-size: 24px;
    font-weight: 563;
    line-height: 24px;
    letter-spacing: -0.4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.projectImage{
    width: 48px;
    border: 1px #EBEBEB solid;
    padding: 3px;
    height: 48px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 12px;
    -webkit-box-shadow: 0px 12px 24px -6px rgba(28,28,28,0.08);
    -moz-box-shadow: 0px 12px 24px -6px rgba(28,28,28,0.08);
    box-shadow: 0px 12px 24px -6px rgba(28,28,28,0.08);
}

.projectImageHover{
    width: 40px;
    height: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 12px;
    margin-bottom: 16px;
    -webkit-box-shadow: 0px 12px 24px -6px rgba(28,28,28,0.08);
    -moz-box-shadow: 0px 12px 24px -6px rgba(28,28,28,0.08);
    box-shadow: 0px 12px 24px -6px rgba(28,28,28,0.08);
}

.projectLeft{
    width: 120px;
}

.projectDetails{
    margin-top: 16px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: start;
    column-gap: 12px;
    align-items: center;
}

.projectInformation{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

.projectArrow{
    position: absolute;
    top: 32px;
    right: 24px;
    color: #666666;
}

.link{
    text-decoration: none;
    color: #1d1d1d;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px
}

.link:hover{
    color: #666666;
}

.projectPreview{
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #DEDBDB;
    -webkit-box-shadow: 0px 12px 24px -6px rgba(28,28,28,0.08);
    -moz-box-shadow: 0px 12px 24px -6px rgba(28,28,28,0.08);
    box-shadow: 0px 12px 24px -6px rgba(28,28,28,0.08);
}