.project{
    background: #FCFCFC;
    border: 1px solid #EBEBEB;
    position: relative;
    border-radius: 16px;
    transition: all .2s ease-out;
}

.projectContent{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 24px;
    column-gap: 16px;
    min-height: 280px;
}

.projectLink{
    width: 100%;
    padding: 0px 24px 24px 24px;
}

.projectHover{
    background: #EBEBEB;
    border: 1px solid #EBEBEB;
    position: relative;
    border-radius: 16px;
    transition: all .2s ease-out;
}

.projectTitle{
    color: black;
    font-size: 24px;
    font-weight: 563;
    line-height: 24px;
    letter-spacing: -0.4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.projectTitleHover{
    color: #363636;
    font-size: 24px;
    font-weight: 563;
    line-height: 24px;
    letter-spacing: -0.4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.projectImage{
    width: 56px;
    height: 56px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 8px;
}

.projectImageHover{
    width: 40px;
    height: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 12px;
    margin-bottom: 16px;
}

.projectLeft{
    width: 120px;
}

.projectDetails{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

.projectArrow{
    position: absolute;
    top: 32px;
    right: 24px;
    color: #666666;
}

.link{
    text-decoration: none;
    color: #1d1d1d;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px
}

.link:hover{
    color: #666666;
}